@import url('https://fonts.googleapis.com/css2?family=Roboto &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import './variable';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.25rem;
    min-height: 100vh;
    position: relative;
}
